body {
	background-color: gray;
	margin: 0;
	padding: 0;
}
#content {
	width: 56%;
	margin: 0 auto;
	background-color: white;
	overflow: hidden;
	padding: 0 2%;
}
header {
	color: white;
	background-color: blue;
	overflow: hidden;
	width: 60%;
	margin: 0 auto;
}
nav {
	color: white;
	
}
li {
	display: block;
	float: left;
	text-align: center;
	list-style-type: none;
	width: 19%;
	padding: 3%;
	background-color: green;
}
ul {
	margin: 0;
	padding: 0;
}
html {
	margin: 0;
	padding: 0;
}
.social {
	height: 40px;
}
.data {
	display: block;
	width: 450px;
	margin: auto;
}